@import "../../Init";

body {
  overflow: hidden;
}

.App {

}

.LandingPage {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  font-family: 'Montserrat';

  .GreetingPage {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    pointer-events: none;

    .HelloPage {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background: #1f212e;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 10000;

      .waveContainer {
        position: relative;
        .sectionBg {
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100vw;
          transform-origin: bottom;
        }
      }

      .Content {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        height: 100%;
      }

      .botWaveContainer {
        position: relative;

        .sectionBg {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100vw;

        }
      }
    }


    .greetingText {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      z-index: -1;
      overflow-x: hidden;

      .textContainer {
        margin-top: 200px;
        max-width: 1000px;
        @include media-down(xxxl) {
          max-width: 800px;
          font-size: 0.7em;
        }
        @include media-down(lg) {
          max-width: 90vw;
          font-size: 0.5em;
        }
      }

      .title {
        font-size: 1.5em;
        color: #1a1e21;
        width: fit-content;
        pointer-events: auto;
      }

      .name {
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        font-size: 5em;
        color: #1a1e21;
        pointer-events: auto;

        @include media-down(xxxl) {
          font-size: 3.5em;
        }
      }
    }

    .parallaxbg {
      position: absolute;
      min-width: 100vw;
      min-height: 100vh;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: -1;
      transition: transform 0.1s linear;


      &:first-child {
        position: relative;
      }
    }
  }

  .ShortDescription {
    background: #1f212e;
    display: flex;
    flex-direction: column;
    height: 140vh;
    overflow-x: hidden;

    @include media-down(lg) {
      height: 120vh;
    }

    .mainContainer {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10em;
      position: relative;

      @include media-down(lg) {
        flex-direction: column-reverse;
        gap: 5em;
      }


      .avatarContainer {
        z-index: 100;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .avatar {
          width: 350px;
          @include media-down(xxxl) {
            width: 250px;
          }
          @include media-down(lg) {
            width: 150px;
          }
        }

        .IconsContainer {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          font-size: 1.3em;
          @include media-down(xxxl) {
            font-size: 1em;
          }

          @include media-down(lg) {
            font-size: 0.7em;
          }

          .Icon {
            z-index: 0;
            font-size: 2em;
            padding: 0.3em;
            border-radius: 0.3em;
            color: white;
            position: absolute;

            &:first-child {
              top: 50%;
              left: 50%;
              background: linear-gradient(to right, #dfee7a, #1d9852);
            }

            &:nth-child(2) {
              font-size: 3em;
              top: 50%;
              left: 50%;
              background: linear-gradient(to right, #f079e1, #2f39bb);
            }

            &:nth-child(3) {
              font-size: 4em;
              top: 50%;
              left: 50%;
              background: linear-gradient(to right, #dc3c3c, #d99a25);
            }
          }
        }
      }


      .textContainer {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 1em;


        .textContent {
          z-index: 1;
          font-size: 3em;

          @include media-down(xxxl) {
            font-size: 2em;
          }

          @include media-down(lg) {
            font-size: 1em;
          }

          .title {
            font-size: 1.3em;
            font-family: 'Montserrat-Bold';
          }

          .desc {
            font-size: 1em;
          }
        }
      }
    }
  }

  .MyHelp {
    position: relative;
    width: 100vw;
    height: 500vh;

    .waveContainer {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100vw;
      z-index: 1000;

      .sectionBg {
        width: 100%;
        transform-origin: bottom;
      }
    }
  }

  .ExperienceSection {
    height: 190vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .ExpContent {
      margin: 0 auto;
      margin-top: 10em;
      width: 700px;
      color: white;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include media-down(lg) {
        width: 90vw;
      }

      .ExpText {


        h1 {
          font-size: 2em;
          font-family: 'Montserrat-Bold';
        }
      }

      .SkillContent {
        margin-top: 5em;

        .SkillTitle {
          font-size: 1em;
          margin-bottom: 1em;
          font-family: 'Montserrat-Bold';
          position: relative;
        }

        .SkillList {
          margin-bottom: 3em;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 1em;

          .SkillItem {
            display: flex;
            align-items: center;
            gap: 0.4em;

            @include media-down(lg) {
              font-size: 0.8em;
            }

            .SkillIcon {
              .Icon {
                height: 30px;
              }
            }
          }
        }


      }

    }

    .sectionBg {
      position: absolute;
      bottom: 100%;
      width: 100vw;
      z-index: 0;
      transform-origin: bottom;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .secondBg {
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .ContactSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .sectionBg {
      position: absolute;
      bottom: 100%;
      width: 100vw;
      z-index: 0;
      transform-origin: bottom;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .ContactMainSpace {
      color: white;
      width: 1200px;
      z-index: 2;

      @include media-down(xxxl) {
        width: 1000px;
      }

      @include media-down(lg) {
        width: 80vw;
        font-size: 0.8em;
      }

      .ContactText {
        margin-bottom: 5em;


        h1 {
          font-size: 2.5em;
        }

        p {
          font-size: 1.5em;
          text-align: justify;
        }
      }

      .ContactList {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .ContactItem {
          display: flex;
          align-items: center;
          gap: 1em;
          font-size: 1.7em;


          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }


  }
}

.ContentWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: none;
  pointer-events: none;

  .ContentContainer {
    width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15em;
    @include media-down(xxxl) {
      width: 800px;
      padding-bottom: 10em;
    }

    @include media-down(lg) {
      width: 85vw;
      padding-top: 4em;
      padding-bottom: 8em;
    }

    .title {
      pointer-events: auto;
      font-size: 2.2em;
      text-transform: uppercase;
      font-family: 'Montserrat-Bold';
    }

    .ProgressBar {
      width: 100%;
      height: 4px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.37);
      position: relative;
      pointer-events: auto;
      margin-top: 7em;
      margin-bottom: 15em;
      @include media-down(xxxl) {
        font-size: 0.7em;
        margin-bottom: 10em;
      }

      @include media-down(lg) {
        margin-top: 3em;
        margin-bottom: 8em;
        font-size: 0.5em;
      }

      .Progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: white;
        border-radius: 5px;
        transition: width 0.1s linear;
      }

      .Point {
        position: absolute;
        bottom: 1.5em;
        color: rgba(255, 255, 255, 0.75);
        transition: transform 0.3s ease-in-out;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;

        span {
          font-size: 0.8em;
        }

        &.active {
          transform: translateX(-50%) scale(1.2) !important;
          background: white;
          color: black;
          transition: transform 0.3s ease-in-out;
        }

        &:first-child {
          margin-left: 0;
          left: 0;
          transform: translateX(-50%);
        }

        &:nth-child(2) {
          left: calc(100% / 3);
          transform: translateX(-50%);
        }

        &:nth-child(3) {
          left: calc(100% / 3 * 2);
          transform: translateX(-50%);
        }

        &:nth-child(4) {
          right: 0;
          transform: translateX(50%);

          svg {
            font-size: 2.5em;
          }
        }
      }
    }

    .ContentHelp {
      position: relative;
      flex: 1;
    }

    .HelpItem {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      gap: 2em;

      @include media-down(lg) {
        flex-direction: column;
      }

      .HelpContent {
        flex: 1;
        font-size: 1.5em;
        text-align: justify;

        @include media-down(xxxl) {
          font-size: 1.2em;
        }

        .subtitle {
          font-size: 1.5em;
          margin-bottom: 1em;
          font-family: 'Montserrat-Bold';
        }

      }

      .HelpAnimation {
        flex: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 1000px;


        .SolutionDesignSpace {
          width: 500px;
          position: relative;

          @include media-down(xxxl) {
            height: 100%;
            width: auto;
          }

          .solutionScreen {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            &:first-child {
              height: auto;
              position: relative;

              @include media-down(xxxl) {
                height: 100%;
                width: auto;
              }
            }
          }

        }

        .BackendBgContainer {
          width: 500px;
          position: relative;

          @include media-down(xxxl) {
            height: 100%;
            width: auto;
          }

          .backendScreen {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            &:first-child {
              height: auto;
              position: relative;

              @include media-down(xxxl) {
                height: 90%;
                width: auto;
              }

            }
          }

        }

        .smartPhone {
          height: 100%;
          perspective: 1000px;
          position: relative;

          .webApp {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            perspective: 1000px;

            &:first-child {
              width: auto;
              position: relative;
            }
          }

        }
      }
    }
  }
}
